<div class="row m-2 p-1">
    <a href="{{ path('app_structure_detail', {'id' : structure.id})  }}">
        <bouton class="my-btn">Retour au tableau de bord de {{ structure }}</bouton>
    </a>
</div>