{% apply inline_css(source('@styles/email.css')) %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ email.subject }}</title>

    </head>
    <body>
    <img src="{{ absolute_url(asset('ressource/Booty Booster_logo.png')) }}" alt="booty logo">
    <h1>Au revoir</h1>
    <p>Le compte Booty booster associé à cet e-mail a été supprimé.</p>
    <p>Notre aventure commune s'arrête donc ici mais n'hésitez pas à nous recontacter pour de nouveaux projets !</p>
    </body>
    </html>

{% endapply %}
